
.new-account h2{
    color: #000;
    font-family: PoppingsRegular;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: 40px; /* 166.667% */

    background: #B2B5F1;
    padding: 15px 30px ;
}

.august{
    width: 100%;
    /* padding: 15px 30px 15px 30px; */
    display: flex;
    justify-content: space-between;
    /* border: 2px solid red; */
     border-bottom: 1px solid rgba(30, 30, 30, 0.20);
}

.august2{
    width: 85%;
    padding: 15px 100px 15px 30px;
    display: flex;
    justify-content: space-between;
    /* border: 2px solid green; */
}

.august2 p{
    color: rgba(30, 30, 30, 0.65);
    font-family: PoppingsRegular;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px; /* 177.778% */
}

.august2 h3{
    color: #1E1E1E;
    font-family: PoppingsRegular;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px; /* 177.778% */
    text-align: right;
    /* border: 2px solid red; */
}

.right{
    width: 30%;
    text-align: center;
    /* border: 2px solid black; */
    display: flex;
    justify-content: flex-start;
}