/* .dashboard-container{
    background: #F4F6FF;
    width: 100%;
    max-width: 840px;
} */

.beginners-wrapper{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    padding: 40px 0px 0px 30px;
}

.beginners-contents{
    width: 55%;
    position: relative;

}


.bars-input{
    width: 100%;
    padding: 11px 30px ;
    /* color: rgba(30, 30, 30, 0.43); */
    color: #000;
    font-family: PoppingsRegular;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px; /* 177.778% */

    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border: none;
}

.bars-input::placeholder{
    padding-left:30px;
}

.bar2-image{
    width: 3%;
    position: absolute;
    top: 18px;
    left: 25px;
}

.begin-contents{
    width: 45%;
    max-width: 800px;
    display: flex;
    align-items: center;
    gap: 40px;
    /* position: relative; */
    /* border: 2px solid black; */
}

.begin-head{
    width: 70%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    gap: 13px;
    /* border: 2px solid red; */
    border-radius: 20px;
    /* background: #FFF; */
    /* box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); */
    padding: 10px 0px;
    /* margin-top: 160px; */
    position: relative;
}


.moves{
    width: 100%;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    gap: 13px;
    /* border: 2px solid red; */
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 10px 0px;
    /* position: absolute; */
}

.moves p{
    color: #1E1E1E;
    font-family: PoppingsRegular;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px; /* 177.778% */
}

.new-image{
    width: 13%;
    cursor: pointer;
}
.drills{
    position: absolute;
    top: 75px;
    width: 70%;
    display: none;
    /* border: 2px solid red; */
    background-color: #fff;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.drills.is-open{
    display: block;
  }
.drills ul{
    text-align: center;
}

.drills ul li{
    list-style: none;
    border-bottom: 1px solid rgba(30, 30, 30, 0.20);

    color: #E0E1FF;
    font-family: PoppingsRegular;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px; /* 177.778% */
    padding: 8px 0px;
    cursor: pointer;
}

.drills ul li:hover{
    color: #2A2D74;
}

.icons-head{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 13px;
    /* border: 2px solid red; */
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 10px 0px;
}

.icons-image{
    width: 13%;
}

.icons-head p{
    color: #1F1F1F;
    font-family: PoppingsRegular;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 177.778% */
}

.notify-head{
    width: 80px;
    height: 45px;
    border-radius: 50%;
    background-color: purple;
    /* border: 3px solid purple; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right:40px ;
}

.notify-image{
    width: 70%;
}


/* Exercise contents */

.exercise-container{
    padding: 30px;
    background: #F4F6FF;
    border: 2px solid red;
    margin-top: 40px;
    /* display: none; */
}



.exercise-wrapper{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    background-color: #fff;
    /* border: 2px solid green; */
    gap: 100px;
    padding: 35px 35px 20px;
    border-bottom: 1px solid rgba(30, 30, 30, 0.20);
}

.exercise-wrapper h3{
    color: #2A2D74;
    font-family: PoppingsRegular;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px; /* 177.778% */
}

.activity{
    display: flex;
    align-items: center;
    width:22% ;
    /* border: 2px solid red; */
    gap: 20px;
}

.news-image{
    width: 15%;
}

.days{
    width: 10%;
    /* border: 2px solid red; */
}

.category{
    width: 15%;
    /* border: 2px solid red; */
}

.neck-stretch{
    width: 100%;
    display: flex;
    align-items: center;
    /* border: 2px solid red; */
    background-color: #fff;
    gap: 170px;
    padding: 35px 35px 20px;
    border-bottom: 1px solid rgba(30, 30, 30, 0.20);
}

.neck-stretch h3{
    color: #192126;
    font-family: PoppingsRegular;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 150% */
    letter-spacing: 0.024px;
}

.stretch h3{
    color: #192126;
    font-family: PoppingsRegular;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 150% */
    letter-spacing: 0.024px;
}

.stretch p{
    color: rgba(25, 33, 38, 0.50);
    font-family: PoppingsRegular;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: 0.035px;
    margin-left: 5px;
}

.stretch{
    width: 18%;
}


.number-one{
    width: 5%;
}

.neck{
    width:5% ;
    /* margin-left: 60px; */
}

.two-button{
    /* border: 2px solid red; */
    display: flex;
    gap: 50px;
}

.edit-btn{
    border-radius: 15px;
    background: #2A2D74;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    padding: 15px 45px;

    color: #FFF;
    font-family: PoppingsRegular;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; /* 100% */
    letter-spacing: 0.08px;
    border: none;
    cursor: pointer;
}

.edit-btn:hover{
    color: #000;
}

.plus-wrapper{
    background-color: #fff;
    padding:20px 30px 80px;
    /* border: 2px solid black; */
}


.plus{
    display: flex;
    align-items: center;
     /* border: 2px solid red; */
     gap: 15px;
     /* padding: 20px 20px; */
     /* background-color: blue; */
     /* margin-top: 40px; */
}
.plus h2{
    color: rgba(25, 33, 38, 0.72);
    font-family: PoppingsRegular;
    font-size: 19px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px; /* 177.778% */
}


.plus-image{
    width: 2.5%;
    cursor: pointer;
}