.Create-container{
    padding: 0px 0px 0px 30px;
    /* border: 2px solid teal; */
    background-color: #F4F6FF;
}

.create-item-contents{
    display: flex;
    justify-content: space-between;
    width: 100%;
    /* border: 2px solid black; */
    margin-top: 30px;
}

.create-items{
    width: 40%;
    /* border: 2px solid red; */
}

.create-items h2{
    color: #2A2D74;
    font-family: PoppingsRegular;
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
    line-height: 44px; /* 97.778% */
}

.three-btn{
    display: flex;
    gap: 20px;
    width: 45%;
    /* border: 2px solid green; */
}

.Save-btn{
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    color: #2A2D74;
    font-family: PoppingsRegular;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px; /* 177.778% */
    padding: 8px 20px;
    border: none;
    cursor: pointer;
}

.Save-btn:hover{
    background-color: #2A2D74;
    color: #FFF;
}

.Preview-btn{
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    color: #2A2D74;
    font-family: PoppingsRegular;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px; /* 177.778% */
    padding: 8px 20px;
    border: none;
    cursor: pointer;
}

.Preview-btn:hover{
    background-color: #2A2D74;
    color: #FFF;
}


.Delete-btn{
    color: #2A2D74;
    font-family: PoppingsRegular;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px; /* 177.778% */

    border-radius: 10px;
    background: #E0E1FF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border: none;
    padding: 8px 20px;
    cursor: pointer;
}

.Delete-btn:hover{
    background-color: #2A2D74;
    color: #FFF;
}

.activity-contents{
    width: 100%;
    display: flex;
    /* border: 2px solid red; */
    justify-content: space-between;
    margin-top: 40px;
}

.activity2{
    display: flex;
    flex-direction: column;
    /* border: 2px solid black; */
    width: 50%;
    justify-content: flex-start;
    align-items: flex-start;
}

.activity2 label{
    text-align: left;
    color: #2A2D74;
    font-family: PoppingsRegular;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px; /* 177.778% */
    /* border: 2px solid green; */
}

.activity-input{
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.30);
    background: rgba(255, 255, 255, 0.50);
    padding: 19px 0px;
    width: 100%;
    /* margin-top: -10px; */
}

.time-contents{
    width: 45%;
    display: flex;
    align-items: center;
    padding: 0px 0px 0px 10px;
    /* border: 2px solid purple; */
    /* margin-left: 30px; */
}
.time{
    display: flex;
    flex-direction: column;
    /* gap: 1px; */
    align-items: center;
    /* border: 2px solid purple; */
    /* margin-top: -10px; */
}

.time label{
    color: #2A2D74;
    font-family: PoppingsRegular;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px; /* 177.778% */
}

.time-input{
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.30);
    background: rgba(255, 255, 255, 0.50);
    padding: 14px 0px ;
    width: 70px;

    color: rgba(0, 0, 0, 0.26);
    text-align: right;
    font-family: InterRegular;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; /* 114.286% */
    letter-spacing: 0.07px;
}

.minutes{
    display: flex;
    align-items: center;
    gap: 10px;
    /* border: 2px solid blue; */
    margin-top: 30px;
    margin-left: 10px;
}

.minutes-input{
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.30);
    background: rgba(255, 255, 255, 0.50);
    padding: 14px 0px ;
    width: 70px;
}

.minus{
    color: #2A2D74;
    font-family: PoppingsRegular;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px; /* 177.778% */
}

.add{
    color: #2A2D74;
    font-family: PoppingsRegular;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px; /* 177.778% */
}

.description-contents{
    width: 100%;
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
}


.description{
    width: 50%;
    display: flex;
    flex-direction: column;
    /* border: 2px solid greenyellow; */
}

.description label{
    color: #2A2D74;
    font-family: PoppingsRegular;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px; /* 177.778% */
}

.description-input{
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.30);
    background: rgba(255, 255, 255, 0.50);
    padding: 60px 0px;
}

.description2{
    /* border: 2px solid blue; */
    width: 45%;
    display: flex;
    flex-direction: column;
    padding: 0px 0px 0px 12px;
}

.description2-contents{
    /* border: 2px solid orange; */
    display: flex;
    gap: 30px;
}


.days-text{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.days-text label{
    color: #2A2D74;
    font-family: PoppingsRegular;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px; /* 177.778% */
}

.days-text-input{
    width: 70px;
    padding: 14px 0px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.30);
    background: rgba(255, 255, 255, 0.50);
}

.text-levels{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    /* border: 2px solid red; */
}

.vector-image{
    width: 12%;
    position: absolute;
    top: 52px;
    right: 20px;
    cursor: pointer;
}

.text-levels label{
    color: #2A2D74;
    font-family: PoppingsRegular;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px; /* 177.778% */
}

.text-levels-input{
    width: 120px;
    padding: 14px 0px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.30);
    background: rgba(255, 255, 255, 0.50);
}

.text-category{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.text-category label{
    color: #2A2D74;
    font-family: PoppingsRegular;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px; /* 177.778% */
}

.text-category-input{
    width: 120px;
    padding: 14px 0px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.30);
    background: rgba(255, 255, 255, 0.50);
}


.date2{
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.date2 label{
    color: #2A2D74;
    font-family: PoppingsRegular;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px; /* 177.778% */
    margin-left: 20px;
}

.date2-input{
    width: 89%;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.30);
    background: rgba(255, 255, 255, 0.50);
    padding: 15px 30px 15px 20px;

    color: rgba(0, 0, 0, 0.26);
    text-align: left;
    font-family: InterRegular;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; /* 114.286% */
    letter-spacing: 0.07px;
    cursor: pointer;
}

.animation{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-top: 8px;
}

.animation label{
    color: #2A2D74;
    font-family: PoppingsRegular;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px; /* 177.778% */
}

.animation-input{
    padding: 15px 0px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.30);
    background: rgba(255, 255, 255, 0.50);
}

.last-task-contents{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0px;
}

.last-task{
    width: 55%;
    padding: 40px 0px;
    /* border: 2px solid red; */

    border-radius: 10px;
    border: 1px dashed rgba(0, 0, 0, 0.30);
    background: rgba(255, 255, 255, 0.50);

    display: flex;
    justify-content: center;
    cursor: pointer;
    /* align-items: flex-end; */
}

.plus2-contents{
    width: 50%;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 50px;
}

.plus2-box{
    width: 20%;
    /* height: 100%; */
    background-color: #B2B5F1;
    border-radius:10px ;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
}

.plus2-image{
    width: 35%;
}

.plus2-contents p{
    color: rgba(0, 0, 0, 0.26);
    text-align: right;
    font-family: PoppingsRegular;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; /* 114.286% */
    letter-spacing: 0.07px;
    /* margin-top: 60px; */
}