.dashboard-container{
    width: 100%;
    /* border: 8px solid black; */
}

.dashboard-wrapper{
    display: flex;
    width: 100%;
    align-items: center;
    gap: 60px;
    /* border: 2px solid blue; */
    padding: 40px 0px 0px 30px;
}

.bar-contents{
    width: 70%;
    position: relative;
}

.bar-contents h2{
    color: #2A2D74;
    text-align: left;
    font-family: PoppingsRegular;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 44px; /* 97.778% */
}


.icon-contents{
    width: 40%;
    display: flex;
    align-items: center;
    gap: 40px;
    /* border: 2px solid black; */
    padding: 0px 20px;
}


.icon-head{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 13px;
    /* border: 2px solid red; */
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 10px 0px;
}

.icon-image{
    width: 13%;
}

.icon-head p{
    color: #1F1F1F;
    font-family: PoppingsRegular;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 177.778% */
}

.notification-head{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #2A2D74;
    /* border: 3px solid purple; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.notification-image{
    width: 75%;
}

.chart-contents{
    margin-top: 70px;
    /* border: 2px solid blue; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0px 40px;
}

.range{
    display: flex;
    align-items: center;
    gap: 40px;
}

.range p{
    color: #192126;
    font-family: PoppingsRegular;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px; /* 177.778% */
}


.time-range{
    display: flex;
    align-items: center;
    gap: 15px;
    /* border: 2px solid red; */
    padding: 7px 25px;
    border-radius: 10px;
    /* border: 1px solid #B2B5F1; */
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.time-range p{
    color: #192126;
    font-family: PoppingsRegular;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
}

.time-vector-image{
    width: 15%;
    cursor: pointer;
}

.dashboard-flex{
    /* border: 2px solid blue; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px 5px;
    padding: 30px;
}

.total-videos{
    width: 95%;
    /* border: 2px solid red; */
    padding: 20px 10px 20px 30px;
    border-radius: 10px;
    background: #FFF;
    color: #FFF;
}

.total-videos:hover{
    /* background-color: #2A2D74; */
    color: #FFF;
}

.total-videos-head{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: 30px;
    /* border: 2px solid green; */
    margin: 10px 0px;
}

.total-videos-head p{
    color: rgba(42, 45, 116, 0.60);
    text-align: left;
    font-family: PoppingsRegular;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 133.333% */
    letter-spacing: 0.027px;
}

.total-videos-head h2{
    color: #2A2D74;
    text-align: left;
    font-family: PoppingsRegular;
    font-size: 33px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 66.667% */
    letter-spacing: 0.054px;
}

.kings{
    display: flex;
    justify-content: flex-end;
}

.percent{
    /* width: 60%; */
    display: flex;
    align-items: center;
    gap: 10px;
    /* border: 2px solid red; */
    /* background-color: #2A2D74; */
    padding: 5px 10px;

    border-radius: 5px;
    background: #2A2D74;
}

.percent h3{
    color: #fff;
    text-align: center;
    font-family: PoppingsRegular;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 133.333% */
    letter-spacing: 0.027px;
}
.arrows-image{
    width: 35%;
}


.percent-red{
    /* width: 60%; */
    display: flex;
    align-items: center;
    gap: 10px;
    /* border: 2px solid red; */
    /* background-color: #2A2D74; */
    padding: 5px 10px;

    border-radius: 5px;
    background: #E0E1FF;
}

.percent-red h3{
    color: red;
    text-align: center;
    font-family: PoppingsRegular;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 133.333% */
    letter-spacing: 0.027px;
}

.timmy-contents{
    padding: 10px 30px;
}

.timmy-contents h1{
    color: #2A2D74;
    text-align: left;
    font-family: PoppingsRegular;
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
    line-height: 44px; /* 97.778% */
    letter-spacing: -2.7px;
}

