.container{
    background-color: rgba(244,246,255, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* border: 2px solid red; */
    /* max-width: 800px; */

    /* height: 100vh; */
}
.log-container{
    width: 100%;
    max-width: 800px;
    /* border: 2px solid red; */
    margin-bottom: 60px;
}

.log-wrapper{
    border: 1px solid rgba(244,246,255, 0.9);
    /* margin-top: 100px; */

    background-image: url(/src/img/ball\ 8\ percent\ 3.svg);
    width: 100%;
    max-width: 800px;
    /* border: 2px solid red; */
    min-height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 0;
    margin: 0;
}

.legacy{
    margin-top: 70px;
}

.legacy h1{
    color: #2A2D74;
    text-align: center;
    font-family: BrunoRegular;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: 64px; /* 100% */
}

.legacy p{
    color: #2A2D74;
    text-align: center;
    font-family: PoppingsRegular;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    margin-top:10px ;
}

.login{
    margin-top:-140px ;
    /* border: 2px solid palegoldenrod; */
}

.login h3{
    color: #2A2D74;
    font-family: PoppingsRegular;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px; /* 166.667% */
    margin-left: 20px;
    margin-bottom: 10px;
}

.log-label{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 10px;
}

.log-label label{
    color: #2A2D74;
    font-family: PoppingsRegular;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 177.778% */
    text-transform: capitalize;
    margin-left: 20px;
}

.log-input{
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.30);
    background: rgba(255, 255, 255, 0.50);
    padding: 20px 20px;
    /* color: rgba(0, 0, 0, 0.30); */
    color: black;
    font-family: InterRegular;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; /* 114.286% */
    letter-spacing: 0.07px;
}


.log-label2{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 10px;
    /* border: 2px solid red; */
    position: relative;
}

.log-label2 label{
    color: #2A2D74;
    font-family: PoppingsRegular;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 177.778% */
    text-transform: capitalize;
    margin-left: 20px;
}

.eye-image{
    width: 4%;
    position: absolute;
    right: 30px;
    top: 50px;
    cursor: pointer;
}

::placeholder{
    font-size: 16px;
    font-family: InterRegular;
}

.check-contents{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.remember{
    display: flex;
    /* align-items: center; */
    /* border: 2px solid blue; */
    gap: 5px;
}
.check-image{
    width: 11%;
    cursor: pointer;
}

.remember p{
    color: #2A2D74;
    font-family: PoppingsRegular;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 177.778% */
    cursor: pointer;
}

.forget{
    margin-right: 30px;
}

.forget p{
    color: #2A2D74;
    font-family: PoppingsRegular;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 177.778% */
    cursor: pointer;
}

.log-button{
    margin-top: 73px;
}

.log-btn{
    color: #FFF;
    text-align: center;
    font-family: PoppingsRegular;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; /* 100% */
    letter-spacing: 0.08px;
    width: 100%;
    padding: 18px 0px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.30);
    background: #2A2D74;
    cursor: pointer;
}

.log-btn:hover{
    background-color: #4044c0;
    color: #dad5d5;
}