.navbar-container{
    width: 100%;
    height: 100vh;
    /* background: #2A2D74; */
    flex-shrink: 0;

    display: flex;
}

.navbar-wrapper{
    width: 25%;
    max-width: 350px;
    background: #2A2D74;
    height: 1024px;
    /* border: 2px solid red; */
}

.new-child{
    width: 75%;
    height: 100vh;
    /* background-color: red; */
    /* border: 3px solid black; */
}


.basket-contents{
    text-align: center;
    /* border: 2px solid red; */
}

.basket-image{
    width: 40%;
    margin-top: 64px;
}

.general{
    /* border: 2px solid green; */
    margin-top: 68px;
}

.general h2{
    color: #FFF;
    font-family: BrunoRegular;
    font-size: 22px;
    font-style: normal;
    font-weight: 100;
    line-height: 36px; /* 163.636% */
    padding: 0px 20px 0px 30px;
    margin-bottom: 20px;
    color: #B4B5CE;
    margin-left: 20px;
}

.dashboard{
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    gap: 25px;
    padding: 10px 20px 10px 30px;
    border-radius: 0px 8px 8px 0px;
    cursor: pointer;
    margin-left: 18px;
}

.dashboard h2:hover{
    /* background-color: #FFF; */
    color: #fff;
}

.dashboard h2{
    padding: 0;
    margin-bottom: 0px;
    color: #B4B5CE;
    cursor: pointer;
}

.home-image{
    /* color: white; */
    /* background-color: #fff; */
    width: 13%;
}

/* .level-open{
    position: relative;
} */

.Levels{
    display: flex;
    align-items: center;
    gap: 25px;
    /* border: 2px solid red; */
    padding: 10px 20px 10px 30px;
    border-radius: 0px 8px 8px 0px;
    color: #B4B5CE;
    cursor: pointer;
    margin-left: 18px;
    /* background-color: red; */
}

.Levels h2:hover{
    /* background-color: #FFF; */
    color: #fff;
}


.Levels h2{
    padding: 0;
    margin-bottom: 0px;
    cursor: pointer;
    /* color: #B4B5CE; */
}

.dribble-image{
    width: 13%;
}

.down-image{
    width: 12%;
    margin-left: 10px;
}

/* .down-image:hover{
    color: #fff;
} */

.expert{
    padding: 0px 0px 0px 100px;
    display: flex;
    justify-content: center;
    /* border: 2px solid red; */
    display: none;
}

.expert.is-open{
    display: block;
  }

  .expert ul{
        /* border: 2px solid green; */
        margin-left: 50px;
  }

.expert ul li{
    color: rgba(255, 255, 255, 0.65);
    font-family: BrunoRegular;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px; /* 163.636% */
    cursor: pointer;
    margin: 10px 0px;
}

.expert ul li:hover{
    color: #FFF;
}

.general h3{
    color: #B4B5CE;
    font-family: BrunoRegular;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px; /* 163.636% */
    padding: 40px 20px 10px 50px;
}
.profile{
    display: flex;
    gap: 35px;
    padding: 10px 20px 10px 30px;
    /* border: 2px solid red; */
    border-radius: 0px 8px 8px 0px;
    cursor: pointer;
    margin-left: 18px;
}

/* .profile:hover{
    background-color: #fff;
    color: #2A2D74;
} */

.profile-image{
    width: 13%;
    /* color: red; */
}

.profile h3{
    color: rgba(255, 255, 255, 0.65);
    font-family: BrunoRegular;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px; /* 163.636% */
    padding: 0;
    margin-left: 10px;
}

.profile h3:hover{
    /* color: #2A2D74; */
    color: #FFF;
    /* background-color: #FFF; */
}

.gear{
    display: flex;
    gap: 35px;
    /* border: 2px solid red; */
    padding: 50px 20px 10px 50px;
    border-radius: 0px 8px 8px 0px;
    cursor: pointer;
   margin-left: 5px;
}

.gear h3{
    color: #FF0A0A;
    font-family: BrunoRegular;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px; /* 163.636% */
    padding: 0;
    margin-left: 10px;
}